section {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100vh;
}

.game-display {
    /* border-right: solid 1px gainsboro; */
    background-image: url('../images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
.game-display h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
 .game-display div {
    display: none;
    grid-template-columns: auto auto auto;
    margin: 20px auto;
    height: 80%;
    width: 50%;
    background-color: rgb(222, 229, 233);
 }
 .game-display div div {
    border: solid 4px white;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .game-display div div:hover {
    /* background-color: green; */
    opacity: 0.9;
    cursor: pointer;
 }
 .scoreboard {
    background-image: url('../images/score.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.scoreboard h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    display: none;
} 
.green-class {
    background-color: green !important;
}
.red-class {
    background-color: red !important;
}
.checkmark {
    margin: auto;
    width: 60px;
    height: 60px;
}
.game-display h4 {
    margin: 100px 100px;
    border: solid 4px;
    border-radius: 4px;
    font-size: 40px;
    padding: 40px;
    text-align: center;
    color: blue;
    font-weight: 700;
}
.game-display h4:hover {
    cursor: pointer;
}

/* input {
    display: block;
} */
.new-article input, button{
    margin-top: 20px;
    margin-left: 370px;
    margin-right: 20px;
    text-align: center;
    font-size: 24px;
}
label {
    font-size: 24px;
}
button {
    padding: 4px;
    border: solid 2px;
    border-radius: 6px;
    color: white;
    background-color: purple;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 1s ease-in-out;
}