<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/body.css">
    <link rel="shortcut icon" type="image/png" href="../static/images/background.png">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/launchGame.js"></script>
    <script src="../static/scripts/processGame.js"></script>
    <script src="../static/scripts/variables.js"></script>
    <title>Tic-tac-toe</title>
</head>
<body>
    <!-- <header>
        <a href="#" class="background-image"></a>
        <nav>
            <ul class="nav-bar">
                <li><a href="">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="login"><a href="#">Log in</a></li>
            </ul>
        </nav>
    </header> -->
    <section>
        <div class="game-display">
            <article class="new-article"></article>
            <!-- <h3>Gameplay</h3> -->
            <h4>New game</h4>
            <h4>Scoreboard</h4>
            <div>
                <div id="0">
                    <div class="checkmark"></div>
                </div>
                <div id="1">
                    <div class="checkmark"></div>
                </div>
                <div id="2">
                    <div class="checkmark"></div>
                </div>
                <div id="3">
                    <div class="checkmark"></div>
                </div>
                <div id="4">
                    <div class="checkmark"></div>
                </div>
                <div id="5">
                    <div class="checkmark"></div>
                </div>
                <div id="6">
                    <div class="checkmark"></div>
                </div>
                <div id="7">
                    <div class="checkmark"></div>
                </div>
                <div id="8">
                    <div class="checkmark"></div>
                </div>
            </div>
        </div>
        <div class="scoreboard">
            <h3>Scoreboard</h3>
        </div>
    </section>
    <footer>
        <ul class="ul-footer">
            <li>Tic-tac-toe game</li>
            <li>&copy David Kyalo</li>
        </ul>
    </footer>
    
</body>
</html>